*.txt
wandb/*
*.json
*.model
*.pt
*.bin

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

!t5_vae/config.json
!tests/fixtures/*
