*.txt
wandb/*
*.json
*.model
*.pt
*.bin

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

!tests/fixtures/*

.DS_Store

t5_vae_env/
runs/
experiments/*/wandb/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

.vscode
.pytest_cache
wandb
.pypirc

.dccache
