*.txt
wandb/*
*.json
*.model
*.pt
*.bin

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache

!transformer_vae/config.json
!tests/fixtures/*

.DS_Store

t5_vae_env/
runs/
experiments/*/wandb/
